#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.hero-image {
  width: 50vw; /* Half the screen */
  height: 100vh;
  background-position: top left;
  background-size: cover;
}

.content-box {
  position: absolute;
  top: 20%;
  left: 55%;
  width: 40vw;
  color: black;
}

.text-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.button-container {
  position: absolute;
  bottom: 10%;
  left: 55%;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
