/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  color: #333;
}

/* Navbar Styling */
.navbar {
  background-color: #333;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  color: #fff;
  font-size: 24px;
  margin-left: 20px;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin-right: 20px;
}

.navbar-links li {
  margin-right: 20px;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.navbar-links a:hover {
  color: #4CAF50;
}

/* Section Styling */
#door-status, #voice-memos, #visitor-images {
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Input Box */
.input-box {
  padding: 8px;
  margin-top: 10px;
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.input-box:focus {
  border-color: #4CAF50;
}

/* Faces Gallery */
.faces-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.face-item {
  width: 150px;
  height: 175px;
  /* overflow: hidden; */
}

/* .face-item:hover {
  width: 200px;
  height: 200px;
} */

.face-item img {
  width: 100%;
  height: 70%;
  object-fit: contain;
}


.caption {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 0 0 8px 8px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
