<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lock In</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h1 class="mb-3">Door Status: <b>{{ "Unlocked" if door_unlocked else "Locked" }}</b></h1>
        
        <form method="POST" action="/toggle">
            <button type="submit" class="btn btn-primary">
                {{ "Lock Door" if door_unlocked else "Unlock Door" }}
            </button>
        </form>

        <hr>
        
        <h2>Voice Memos</h2>
        <div class="table-responsive">
            {{ csv_html | safe }}
        </div>

        <h2>Visitors</h2>
        <div class="row">
            {% if recvd_faces_paths %}
                {% for image_path in recvd_faces_paths %}
                {% if image_path.endswith('.jpg') or image_path.endswith('.png') %}
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="/static/recvd_faces/{{image_path}}" width="250" height="auto">
                        <div class="caption">
                            <p>{{image_path}}</p>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            {% endif %}
        </div>

    </div>
</body>
</html>
